<h1>Enter two numbers</h1>
<hr>
<br>
<input type="number" id="num1">
<input type="number" id="num2">
<button id="sum">Sum</button>
<button id="sub">Substract</button>
<button id="multiply">Multiply</button>
<h3 id="result"></h3>
