<!DOCTYPE html>
<html lang="en">
  {{>head}}
  <body>
    {{>header}}
    <main>
      {{{body}}}
    </main>
  <!-- </script> -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <script src="/js/download.js"></script>
  <link rel="stylesheet" href="/css/navbar.css">
  <link rel="stylesheet" type="text/css" href="//www.fontstatic.com/f=sabgha" />

  </body>
</html>
