<!DOCTYPE html>
<html lang="en">
  {{>head}}
  <body>
    {{>header}}
    <main>
      {{{body}}}
    </main>
  <!-- </script> -->
  <link rel="stylesheet" href="/css/style.css">
  <script src="/js/index.js"></script>
  <script src="/js/functions.js"></script>

  </body>
</html>
